input {
  width: 35px;
  height: 35px;
  padding: 10px;
  font-size: larger;
}
input:focus {
  outline: none;
}

.wrong-answer {
  color: red;
  background-color: rgb(255, 199, 199);
  border: red 1px solid;
}

/* -------------------- Prevent show number input arrows -------------------- */

/* Remove default number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* TODO: it's not working in Firefox */
/* Remove number input arrow in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
